body {
	font-family: Roboto, sans-serif, Arial;
	/*3 fonts pel backup*/
	background: #F1F1F1;
	display: flex;
}

@font-face {
	font-family: "Roboto";
	src: url("../../webfont/Roboto-Bold.ttf");
}

@font-face {
	font-family: "Roboto";
	src: url("../../webfont/Roboto-Bold.ttf");
	font-weight: bold;
}

.coverImage {
	size: 58px;
	border-radius: 5px;
}

button.b3 {
	background-color: #AAA1C8;
	color: black;
	height: 56px;
	width: 219px;
}

.b3:active {
	background-color: #8B74D8;
	color: black;
}

main {
	display: flex;
}

.endButtons {
	display: flex;
	justify-content: center;
}