.tick{
    grid-area: tick;
    padding-right: 10em;
}
.trash{
    grid-area: trash;
    
}

.btnTickTrash {
    border: none;
    height: 56px;
    width: 56px;
    margin: 30px 1px;
    border-radius: 5px;
    background-color: #AAA1C8;
}

.searchBox{
    grid-area: searchBox;
    border: 3px dashed purple;
}
.imageSearch{
    grid-area: imageSearch;

}
nav.navBar{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 25% 25% 100%;
    grid-template-areas: "selectAll tick trash searchBox imageSearch";
    border: 3px dashed red;
}


article{
    
    grid-area: articulo;
    border: 3px dashed royalblue;

}

#webLogo {
    position: relative;
    width: 111px;
    height: 111px;
    left: 47px;
    top: 59px;
}
aside{
    position: absolute;
    width: 22.8%;
    height: 100%;
    left: 10px;
    top: 10px;
    grid-area: columnaIzq;
    background: #E5E5E5;
    border: 1px dashed blue;
    border-radius: 5px;
}
body {
    font-family: Roboto, sans-serif, Arial;/*3 fonts pel backup*/
    src: url(/webfonts/Roboto-Regular.ttf);
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template: 'columnaIzq articulo';
    justify-content: center;
    
    background:white;
}

button {
    border: none;
    font-size: 24px;
    margin: 30px 30px;
    border-radius: 5px;
    font-family: 'Roboto';
}

button.b1{
    background-color: #6247AA;
    color: white;
    font-weight: bold;
    height: 52px;
    width: 292px;
}

button.selectAll {
    background-color: #AAA1C8;
    grid-area: selectAll;
    color: black;
    height: 56px;
    width: 172px;
    font-weight: bold;
}

.selectAll:active {
    background-color: #6247AA;
    color: white;
}

button.b3 {
    background-color: #AAA1C8;
    color: black;
    height: 56px;
    width: 219px;
}

.b3:active {
    background-color: #8B74D8;
    color: black;
}

.btnTickTrash:active {
    background-color: #8B74D8;
}

.btnTickTrash:disabled {
    background-color: #C6C6C6;
}