body {
    font-family: Roboto, sans-serif, Arial;/*3 fonts pel backup*/
    src: url(/webfonts/Roboto-Regular.ttf);
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    background-color: crimson;

}

aside{
    position: absolute;
    width: 22.8%;
    height: 100%;
    left: 10px;
    top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background: #FFF000;
    border-radius: 5px;
}

article{
    background: #E5E5E5;
    display: block;
}
.navBar{
    display: flex;
    flex-direction: row;
    background-color: darkmagenta;
}

#webLogo {
    position: absolute;
    width: 111px;
    height: 111px;
    left: 47px;
    top: 59px;

    background: url(.png);
}
