body {
    background-color: rgb(221, 214, 214);
}

@font-face {
	font-family: "Roboto";
	src: url("../../webfont/Roboto-Regular.ttf");
}

.task {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    gap: 8px;
}

.taskSquare {
    background-color: white;
    width: 88px;
    height: 88px;
    border-radius: 5px;
    box-shadow: 0px 5px 4px rgb(172, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskSquare:hover {
    background-color: #AAA1C8;
}

.checkbox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.taskRectangle {
    background-color: white;
    width: 850px;
    height: 88px;
    border-radius: 5px;
    box-shadow: 0px 5px 4px rgb(172, 167, 167);
    display: flex;
    flex-wrap: wrap;
}

.taskRectangle:hover {
    background-color: #C6C6C6;
}

.container1 {
    width: 105px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 395px;
    height: 88px;
    align-items: center;
    justify-content: left;
}

.taskTitle {
    font-family: Roboto;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 16px;
}

.taskDescription {
    font-family: Roboto;
    font-size: 14px;
    color: #808080;
}

.container3 {
    width: 350px;
    height: 88px;
    display: flex;
    flex-direction: column;
}

.container4 {
    width: 350px;
    height: 88px;
    display: flex;
    justify-content: right;
}

.taskDate {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 14px;
}

.container5 {
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    justify-content: right;
}

.cosa {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-right: 14px;
    margin-bottom: 6px;
}

.taskCategory1 {
    font-family: Roboto;
    font-size: 12px;
}